@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  margin:0;
  padding: 0;
  color: #E8ECE5;
  font-family: 'Open Sans', sans-serif;
}


.container {
  padding: 0 2%;
  margin: 30px 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  justify-content: space-around;
}

.container-top {
  padding: 0 2%;
  margin: 30px 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row no-wrap;
  justify-content: space-around;
}

.item-big {
  background: #F97A66;
   padding: 5px;
   width:68%;
   height: 500px;
   margin-top: 10px;
   line-height: 500px;
   font-weight: normal;
   font-size: 3em;
   text-align: center;
}

.item-small {
  background: #FCC04E;
   padding: 5px;
   width: 28%;
   height: 500px;
   margin-top: 10px;
   line-height: 500px;
   font-weight: normal;
   font-size: 3em;
   text-align: center;
}

.item {
  background: #02C3E2;
   padding: 5px;
   margin-left: 5px;
	 margin-top: 5px;
   flex: 1 0 200px;
   margin-top: 10px;
   line-height: 300px;
   font-weight: normal;
   font-size: 3em;
   text-align: center;
}

/*@media all and (max-width: 1400px) {
  .item {
     width: 200px;
     height: 250px;
  }
}
@media all and (max-width: 1255px) {
  .item {
     width: 150px;
     height: 200px;
  }
}


@media all and (max-width: 800px) {
  .item {
     width: 150px;
     height: 200px;
  }
}*/


.navigation {
  list-style: none;
  margin: 0;
  background: #222A3B ;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #F5F5F6 ;
}

.navigation a:hover {
  background: #5F6C90 ;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.footer {
  background: #5F6C90;
  margin-top: 30px;
  text-align: center;
  height: 300px;
  font-weight: normal;
  font-size: 3em;
  line-height: 300px;
}
